@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Passion+One:wght@400;700;900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Hedvig+Letters+Sans&family=Passion+One:wght@400;700;900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Hedvig+Letters+Sans&family=Passion+One:wght@400;700;900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

/*Home page CSS Style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
}
.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 12%;
    background-color: #254E58;
    backdrop-filter:blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /*Garadient colours for background*/
    background: linear-gradient(90deg, #254E58, #6bb9a5); /*horizontal gradient*/
    color:white;
}
.logo{
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: rgb(192, 5, 95);
    text-shadow:0 0 25px rgb(192, 5, 95),
                0 0 50px rgb(192, 5, 95);
    transform: scale (1.1);
}
span{
    color: rgb(192, 5, 95);
}


.navbar a{
    font-size:15x ;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    
}


.navbar a:hover,
.navbar a.active {
    color:rgb(192, 5, 95);
    border-bottom: 3px solid white;
}

.introduction{
    width: 100%;
    min-height: 100vh;
    background:#88BDBC;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 12% 0;

   
}

.introduction-1{
    max-width:800px ;
    padding: 0;
      
}

.introduction-1 h3{
    font-size: 42px;
    font-family: "Playfair", serif;
}
.introduction-1 h1{
    font-size:62px ;
    line-height: 1.2;
    font-family:  "Playfair", serif;
}
.introduction-1 p:first-of-type{
    font-size: 18px;
    margin: 25px 0 30px;
    font-weight: bold; 
    font-family: "Playfair", serif;  
}
img{
    width:32vw;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}

.img img:hover{
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(1.05); /* Scales the image to 105% on hover */
    opacity: 0.9; /* Slightly reduces opacity for a subtle effect */
    box-shadow: 0px 8px 100px rgb(192, 5, 95);
}
/*Bounce animation for Image*/
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgb(192, 5, 95);
    animation: bounce 2s infinite; /*bounce animation*/
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding:5px 0;
    background: linear-gradient(90deg, #254E58, #6bb9a5); /*horizontal gradient*/
    color:white;
}

.footer .social{
    text-align: center;
    padding-bottom: 2px;
    color: white;

}

.footer .social a{
    font-size: 24px;
    color:white;
    border:2px sold rgb(192, 5, 95);
    width:40px;
    line-height:38px;
    display:inline-block;
    text-align: center;
    border-radius: 50%;
    margin:0 8px;
    box-shadow:inset 0 0 10px rgb(192, 5, 95), o o 10 px rgb(192, 5, 95);
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2) translateY(-10);
    color: rgb(192, 5, 95);
    border: 2px solid rgb(192, 5, 95);
}
.footer .copyright{
    margin-top: 15px;
    text-align:center;
    font-size:15px;
    color:white;
}
/* Contact Form CSS Style*/
.contact{
    min-height: 100vh;
    background-color:#88BDBC;
    padding: 50px;
    text-align: center;
}
.container{
    max-width: 800px;
    margin: 0 auto;

}
.container h2{
    font-size: 36px;
    margin-bottom: 40px;   
    color: rgb(216, 111, 12);
    padding-top: 50px;
    font-family: "Hedvig Letters Sans", sans-serif;

}
.contact-wrapper{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.contact-form{
    text-align: left;
    font-family: "Hedvig Letters Sans", sans-serif;

}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
    font-family: "Hedvig Letters Sans", sans-serif;
}
.form-group{
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding:12px;
    border-radius: 8px;
    border:none;
    background-color: white;
    color:black;
}

input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px#bf70ea;
}
button{
    display:inline-block;
    padding:12px 24px;
    background-color:#F8E9A1;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: 0.3s ease;

}
button:hover{
    background-color: aliceblue;
}
.contact-info{
    text-align: left;
    gap: 300px;
    
}
.contact-info h3{
    font: size 24px;
    margin-bottom: 20px;
    color: black;
    font-family: "Hedvig Letters Sans", sans-serif;
}
.contact-info p{
    margin-bottom: 10px;
    color: black;
    font-family: "Hedvig Letters Sans", sans-serif;
}
.contact-info i{
    color: rgb(15, 195, 87);
    margin-right: 10px;
}

@media  screen and (max-width:768px) {media query for small screen
    .container{
        padding: 20px;
    }
    .contact-wrapper{
        grid-template-columns: 1fr;   
    }  
    .introduction-1 h3{
        padding-top: 80px;
        font-size: 30px;
    }
    .introduction-1 h1{
        font-size: 30px;

    }
    
    .about-heading h1{
        font-size: 45px;
        margin-top: 30px;

    }
    .About{
        margin: 0px;
    }
    .about-container{
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }
    .about-content{
        width:100%;
        margin: 35px 0px;

    }
    .about-content h2{
        font-size: 30px;

    }
    .about-content p{
        font-size: 18px;
        margin-bottom: 20px ;

    }
    .about-content button{
        font-size:16px;
        padding:8px 16px;
    }
    .about-image{
        width: 100%;
    }
    .hobby-content{
        flex-direction: column;
    }
    

}

.botton-1{
    padding: 15px 28px;
    background-color:#F8E9A1;
    color:black ;
    border: 2px solid transparent;
    border-radius:8px;
    font-size:18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.botton-1:hover{
    background-color: white;
    color:rgb(0, 0, 0);
    border: 2px solid rgb(192, 5, 95);
}

/*About CSS Styles*/
.About{
    background-color: #88BDBC;
    overflow:hidden;
}
.about-image{
    flex:1;
    width:600px;
    margin:auto;
    animation:fadeInRight 2s ease;
}

.about-image img{
    box-shadow: 0px 4px 10px rgb(18, 6, 88);
    border-radius: 50%;
    width:580px ;
    flex:1;
    margin: auto;
    height: auto;   
}
.about-image img:hover{
    box-shadow: 0px 8px 100px rgb(18, 6, 88);

}

.about-heading{
    color:rgb(18, 6, 88);
    font-size: 35px;
    text-align:center;
    margin-top:25px;
    font-family: "Hedvig Letters Sans", sans-serif;


}
.about-heading h1{
    margin-top: 80px;
    font-family: "Hedvig Letters Sans", sans-serif;
} 

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
    
}
.about-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation:fadeInUp 2s ease;
    
}
.about-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
    font-family: "Hedvig Letters Sans", sans-serif;
}
.about-content p{
    font-size: 24px;
    line-height:1.5 ;
    margin-bottom:40px;
    color:#666;
    font-family: "Hedvig Letters Sans", sans-serif;
}
.about-content button{
    display: inline block;
    background-color: rgb(18, 6, 88);
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size:20px;
    border: none;
    cursor: pointer;
    transition: 0.3 ease;

}

.about-content button:hover{
    background-color: #ff6347;
    transform: scale(1.1);

}
/*For About Page in Fade*/
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

/*Hobbies Page CSS File*/

.hobbies-container p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.hobbies-container{
    width:100%;
    background-color:#88BDBC;

}
.hobbies-container .row{
    width:80%
    margin:auto;
}
.hobbies-container .row .hobbies-header{
    width: 60%;
    text-align: center;
    margin: auto;
}
.hobbies-container .row .hobbies-header h1{
    padding-top: 85px;
    font-size: 55px;
    color:#000000;
    

}
.hobbies-container .row .hobbies-header p{
    margin-top: 15px;
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    margin: auto;

}
.hobby-content .card {
    flex: 1 1 250px; /* Adjusts card width and allows wrapping */
    max-width: 300px;
    margin: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align:center;
    border-radius: 8px; /* Rounded corners */
    padding: 50px 0px;
}

.hobby-content .card img{
    width:100%;
    height: auto;
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 15px;
    
}
.hobby-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    font-size: 18px;
}
.hobby-content h4{
    font-size: 24px;
    color:#333;
    margin-bottom: 10px;
}
.hobby-content .card p{
    font-size: 19px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
}






